html{
    font-size: 16px;
}

.poll_status_index_page{
    text-align:right;
    display: inline-block;
}

.poll_status_dropdown{
    display: inline-block;
}

.open_poll_duration_info{
    display: inline-block;
}

.panel-body-question{
    margin-bottom: 10px;
}

.total-submissions-info{
    text-align: right;
}

/*.text-rigt{
    text-align: right;
}*/

#show_results_to_user{
    margin-left: 10px;
}

/*.hidden{
    visibility:hidden;
}

.visible{
    visibility: visible;
}
*/
