$header-color:#2e2e2e;
$question-color:#e9e7e7;
$question-color-hover:#cccccc;
$text-color:#555;
$question-margin:0.8em;
$success-color:green;
$danger-color:red;
$colors : #27ae60,#d35400,#8e44ad,#2c3e50,#f39c12,
#16a085,#c0392b,#7f8c8d,#2980b9;
$custom-radio-width:4em;
$green:#c2c2c2;
$green-hover:#c2c2c2;
$box-shadow:3px;
$button-color:#58b54f;
$answer-color:#D4DDFA;

#poll_container{
    padding:0.8em;
    border:1px solid #ddd;
    width:100%;

    .row{
        margin:0;
    }

    h4{
        margin:0;
        padding-top:0.6em!important;
        padding-bottom:0.6em!important;
        font-weight:590;
        letter-spacing: 2px;
        text-align:left;
        line-height: 1.4em;
    }

    .poll_header{
        background-color:$header-color;
        h4{
            color:#fff;
        }
    }

    #answers_buttons_container{
        .poll_answers{
            margin-top:$question-margin;
            h4{
                color:$text-color;
                padding-left:18px;
            }

            input{
                display:none;
                &:checked~label{
                    background: $answer-color;
                }
            }

            label{
                margin-bottom:0;
                cursor:pointer;
                padding:7px;
                background:$question-color;
                &:hover{
                    background:$question-color-hover;
                }
            }

        }

        .poll_answers_results{
            margin-top:$question-margin;
            background-color:$question-color;
            h4{
                color:$text-color;
            }
            .progress{
                .progress-bar{
                    text-align:right;
                    min-width:2em;
                }
                span{
                    margin-right:5px;
                }
                @for $i from 0 to length($colors){
                    .dp-answer-color-#{$i}{
                        background-color:nth($colors,$i+1);
                    }
                }

            }
        }

        .poll_buttons{
            margin-top:$question-margin;
            button{
                background-color:$button-color;
                border-radius:0;
                color:#fff;
                font-size:1.2em;
                font-weight:590;
                &:hover{
                    background-color:$button-color;
                    color:#fff;
                }
                &:focus{
                    background-color:$button-color;
                    color:#fff;
                }
            }

            .col-xs-6{
                padding-right:2px;
                padding-left:2px;
            }
        }
    }

    #poll-message{
        margin-bottom:0!important;
        margin-top:$question-margin;
        padding:8px;
    }
}







