$header-color:#3085b0;
$question-color:#d2d2d2;
$question-color-hover:#c2c2c2;
$text-color:#333;
$question-margin:0.8em;
$success-color:green;
$danger-color:red;
$colors : #27ae60,#d35400,#8e44ad,#2c3e50,#f39c12,
#16a085,#c0392b,#7f8c8d,#2980b9;
$custom-radio-width:3em;
$green:#498D5B;
$green-hover:#498D5B;

#poll_container{
    padding:0.8em;
    border:1px solid #ddd;
    width:100%;
}

.row{
    margin:0;

    .poll_header{
        background-color:$header-color;
        h4{
            margin:0;
            padding-top:0.6em!important;
            padding-bottom:0.6em!important;
        }
    }

    h4{
        color:#fff;
        text-align:left;
        letter-spacing: 2px;
        line-height: 1.4em;
        font-weight: 550;
    }

}

.poll_answers_results{
    background-color:$question-color;
    margin-top:$question-margin;
    h4{
        color:$text-color;
    }
}

.poll_answers{
    background-color:$question-color;
    margin-top:$question-margin;
    position:relative;

    h4{
        color:$text-color;
        padding-left:$custom-radio-width;
    }

    label{
        cursor:pointer;
        margin-bottom:0;
    }

    input:empty{
        display:none;
    }

    label:before{
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        width:$custom-radio-width;
        text-align:center;
        font-size:1em;
    }

    input:empty~label:before{
        background:$question-color;
    }

    input:checked~label:before{
        content: '\2714';
        background:$green;
    }

    input:empty~label:hover:before{
        background:$green-hover;
    }

    input:empty~label:hover{
        background-color:$question-color-hover;
    }

    input:checked~label:hover:before{
        background-color:$green;
    }

}

.poll_buttons{
    margin-top:$question-margin;
    button{
        background-color:$header-color;
        border-radius:0;
        color:#fff;
        font-size:1.2em;
        &:hover{
            background-color:$header-color;
            color:#fff;
        }
        &:focus{
            background-color:$header-color;
            color:#fff;
        }
        &:active{
            background-color:$header-color;
            color:#fff;
        }
    }
    .col-sm-6{
        padding-right:2px;
        padding-left:2px;
    }
}

.progress{
    .progress-bar{
        text-align:right;
        min-width:2em;
    }
    span{
        margin-right:5px;
    }
    @for $i from 0 to length($colors){
        .dp-answer-color-#{$i}{
            background-color:nth($colors,$i+1);
        }
    }

}

#poll-message{
        margin-bottom:0!important;
        margin-top:$question-margin;
        padding:8px;
}

input~label::before{
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            width:2em;
            background:#000;
    }

